In [4]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
from sklearn.preprocessing import StandardScaler

### Read the data

In [8]:
df = pd.read_csv("../data/Advertising.csv")

In [9]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

### Separate the data and the labels

In [12]:
# matrix
X = df.drop("sales", axis=1)

In [14]:
# labels
y = df["sales"]

### Split the training set and test set

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# SCALER

### Make a scaler object

In [ ]:
scaler = StandardScaler()

### Fit only on the training data

In [ ]:
scaled_X_train = scaler.fit_transform(X_train)

### Transform the test data

In [ ]:
scaled_X_test = scaler.transform(X_test)